@model PublisherManagerDto

<h4>Add a manager for <strong>@Model.Publisher</strong></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddManager" asp-route-id="@Model.PublisherId">
            <input type="hidden" asp-for="PublisherId" class="form-control" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="ManagerId" class="control-label"></label>
                <select asp-for="ManagerId" asp-items="@ViewBag.Managers" class="form-control"></select>
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@await Html.PartialAsync("_MessageResponse", "MessagePublisherManager")
<div>
    <partial name="_BackToList" /> 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
