@model NewOrderContentDto

@{
    ViewData["Title"] = "Create";
}

<h2>Add an item to the order</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group mb-3">
                <label asp-for="VideoGameId" class="control-label"></label>
                <select asp-for="VideoGameId" asp-items="@ViewBag.UnaddedVideoGames" class="form-control"></select>
                <span asp-validation-for="VideoGameId" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    ﻿<a asp-action="Index" asp-route-oid="@Model.OrderId">Back to list</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
