@model ReviewDetailsVm
<section class="row">
    <article class="me-2">
        <h4>@Html.DisplayFor(m => Model.VideoGame)</h4>
    </article>
    <article class="me-2">
        <dl>
            <dt>Reviewer: </dt>
            <dd>@Html.DisplayFor(m => Model.Reviewer)</dd>
            <dt>Content:</dt>
            <dd>@Html.DisplayFor(m => Model.Content)</dd>
        </dl>
</section>
</section>