@model List<CardVideoGameVm>
<section class="row">
    <article class="me-2">
        <h1>Suggested video games (what other people, who bought the same games you did, have also purchased)</h1>
    </article>
    <br />
    <section class="row">
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <article class="col-4 mb-3">
                    @await Html.PartialAsync("VideoGame/_Card", item)
                </article>
            }
        }
        else
        {
            <article class="alert alert-warning" role="alert">There is no available suggestion, as you have purchased anything we can recommend based on similar interests between you and other customers!</article>
        }
    </section>
</section>